@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    /*  ======color======  */

    --color-body: #E4E9F7;
    --color-side: #FFF;
    --color-prime:  #66FCF1;
    --color-light: #F6F5FF;
    --color-toggle: #DDD;
    --color-text: #45A29E;
    --color-bg: #45a29d80;

    /* =====transition====== */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;

    --spacer: 2rem;
    --inputBg: #adede5;

}

.containerMain{
    width: 1600px;
}

.menuListContainer{
    width: 80%;
    background-color:var(--color-side) ;
    display: flex;
    flex-wrap: wrap;

}

.menuList{
    width: 60%;
    display: flex;
    flex-wrap: wrap;

}

.mealBox{
    width:500px;
    gap: var( --spacer) ;
    background: #45a29d90;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}

.mealImg{
    width: 300px;
}

.productPic{
    width: 250px;
}

.addOrderBtn{
    color: #0b0c10;
    font-size: 18px;
    width: 100px;
    background: #66FCF1;
    border: 1px solid #45A29E ;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

@media(max-width:1600px) {
    .topNav {
        width: 100%;
    }
}