@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.featureMeal{
    margin-top: 100px;
    padding-top: 20px;
    z-index: 1;
}

.hText{
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
  }