@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

ion-item-options {
    visibility: none;
}

ion-item-options.hydrated {
    visibility: visible;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

:root {
    /*  ======color======  */

    --color-body: #E4E9F7;
    --color-side: #FFF;
    --color-prime: #66FCF1;
    --color-light: #F6F5FF;
    --color-toggle: #DDD;
    --color-text: #021c1a;
    --color-back: #9eede9;
    --color-sub: #9eede96f;


    /* =====transition====== */
    --trans-02: all 0.2s ease;
    --trans-03: all 0.3s ease;
    --trans-04: all 0.4s ease;
    --trans-05: all 0.5s ease;

    --spacer: 2rem;
    --inputBg: #adede5;

}


body {
    height: 10px;
    background-color: var(--color-body);
}

.homeContainer {
    margin: 0;
    padding: 0;
    width: 1600px;
}

body.dark {
    /*  ======color======  */
    --color-body: #18191A;
    --color-side: #242526;
    --color-prime: #3A3B3C;
    --color-light: #3A3B3C;
    --color-toggle: #FFF;
    --color-text: #CCC;
}

/* ====Side Bar ====*/
.sideBar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background-color: var(--color-side);
    transition: var(--trans-05);
    z-index: 200;
}

.sideBar.close {
    width: 88px
}

.subMenu {
    position: fixed;
    top: 0;
    left: 110px;
    height: 100%;
    width: 180px;
    background-color: var(--color-sub);
    display: none;
}

.subMenu .usersLogin {
    position: relative;
    top: 300px;
    padding: 0;
    margin: 0;
    background-color: var(--color-back)
}

.subMenu-text {
    font-size: 14px;
    font-weight: 500;
    color: var(--color-text);
    transition: var(--trans-03);
    white-space: nowrap;
    opacity: 1;
}

/* ====Reusable CSS ====*/
.sideBar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text);
    transition: var(--trans-03);
    white-space: nowrap;
    opacity: 1;
}

.sideBar.close .text {
    opacity: 0;
}

.sideBar .image {
    width: 80px;
    min-width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    margin-left: 0;
}

.sideBar .menu-links {
    margin-left: 0;
    padding: 0;
}


.sideBar li {
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sideBar li .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 24px;
}

.sideBar li .icon,
.sideBar li .text {
    color: var(--color-text);
    transition: var(--trans-02);
}

.sideBar header {
    position: relative;
    margin: 0;
}

.sideBar .image-text img {
    width: 70px;
    border-radius: 6px;

}

.sideBar header .image-text {
    display: flex;
    align-items: center;
    margin: 0;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .name {
    font-weight: 700;
    font-size:xx-large;
}

.header-text .user {
    color: rgb(241, 63, 123);
    font-size: 14px;
    margin-top: -2px;
}

.user {
    color: var(--color-side);
    font-size: 14px;
    margin-top: -2px;
}

.sideBar header .toggle {
    position: absolute;
    top: 95%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--color-prime);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--color-side);
    font-size: 22px;
    transition: var(--trans-04);
}

.sideBar.close header .toggle {
    transform: translateY(-50%);
}

body.dark body{
    background-color: ;
}

body.dark .sideBar header .toggle {
    color: var(--color-text);
}

/* .siderbar .menu{
    margin-top: 35px;
} */

.sideBar .search-box {
    background: var(--color-light);
    border-radius: 6px;
    transition: var(--trans-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--color-light);
    transition: var(--trans-05);
}

.search-box:hover input {
    background: var(--color-prime);
    transition: var(--trans-05);
}

.sideBar li a {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--trans-04);
}

.sideBar li a:hover {
    background: var(--color-prime);
}

.sideBar li a:hover .icon,
.sideBar li a:hover .text {
    color: var(--color-hover);

}

body.dark .sideBar li a:hover .icon,
body.dark .sideBar li a:hover .text {
    color: var(--color-hover);

}

.sideBar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--trans-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--color-light);
    transition: var(--trans-05);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--color-toggle);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background: var(--color-side);
    transition: var(--trans-03);
}

.myModal-link {
    margin: 0;
    padding: 0;
}

body.dark .switch::before {
    left: 24px;

}

.home {
    position: relative;
    display: flex;
    flex-direction: column;
    height: auto;
    left: 250px;
    width: calc(1600px-280px);
    background-color: transparent;
    transition: var(--trans-05);
    z-index: -1000;
    color: var(--color-text);
}

/* .home .topHeader{
    display:flex;
    top: 0;
    background: #adede5;
    position: fixed;
    width:calc(1300px-300px);
    min-height: 70px;
    justify-content: right;
    align-items: right;
    gap:var(--spacer);
    z-index: 2;
}  */


.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--color-text);
    padding: 8px 40px
}



.sideBar.close~.home {
    left: 88px;
    width: calc(100%-88px);
}

.home .myHeader{
    width: 95%;
    height: 500px;
    background-color: var(--inputBg);
    margin-left: 90px;
}

.home .myHeader .myHeaderImage {
    position: relative;
    width: 100%;
    height: 100%;
    /* background-color: var(--color-sub); */
    background-image: url('../photos/misc/headerPhoto.png');
    background-size: cover;
}

.home .myfooter {
    background-color:var(--inputBg);
    height: 30px;
    padding: 5px;
    align-content: flex-end;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgb(24, 23, 23);
    align-items: center;
    margin-left: 100px;
    width: 95%;
}

.home .divfooter {
    background-color:var(--color-sub);
    width: 200px;
    float: right;
    align-items: center;
    justify-content: center;

}


/* 
.sideBar.close ~ .topHeader{
    left: 88px;
    width: calc(1300px-88px);
} */

@media(max-width:1600px) {
    .homeContainer {
        width: 100%;
    }
}